body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #070707de;
    padding: 10px 0;
    text-align: center;
    color: white;
}
nav {
    background-color: #ddd;
    padding: 5px 0;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}

.main-content, .sidebar {
    background-color: #eee; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 1200px; /* Tamaño máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.main-content {
    overflow: hidden; /* Limpiar float */
    text-align: justify;
}

#descripcion{
    max-width: 850px;
    font-family: 'Courier New', Courier, monospace;
}

.main-content h2 {
    clear: both; /* Limpiar float */
}

.main-content p {
    float: left; /* Hacer que el texto flote a la izquierda */
    width: calc(100% - 320px); /* Ajustar el ancho para dejar espacio a la imagen */
}

.main-content img {
    float: right; 
    width: 300px;
    height: 300px;
    border-radius: 10px; 
}

.sidebar {
    background-color: #ddd;
}

.main-content img, .sidebar img {
    max-width: 100%;
    height: auto;
}

.clientes {
    overflow: hidden; 
}

.cliente {
    float: left; /* Hacer que los clientes floten a la izquierda */
    width: calc(25% - 20px); /* Establecer el ancho para que haya 4 clientes por fila */
    margin-right: 20px; /* Espacio entre los clientes */
    margin-bottom: 20px; /* Espacio entre las filas de clientes */
}

.cliente img {
    width: 150px; /* Hacer que las imágenes de los clientes ocupen el 100% del ancho del recuadro */
    height: 150px; /* Mantener la proporción de la imagen */
    border-radius: 10px; /* Bordes redondeados para las imágenes */
}

.cliente p {
    text-align: center; /* Centrar el texto del cliente */
}

.cuadrotres{
    background-color: #eee; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    margin-bottom: 20px; /* Margen inferior */
    border-radius: 10px; /* Bordes redondeados */
    max-width: 500px; /* Tamaño máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    overflow: hidden; /* Limpiar float */
}

.resena{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.c{
     background-color: #eee; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    max-width: 500px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.banners{
    text-align: center;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#img_b{
    border-radius: 10px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}
.footer-info div {
    flex-basis: 30%;
}

.container {
    display: flex; /* Establece el contenedor como flexbox */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
}

.imagenizquierda {
    margin-right: 10px; 
}